@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --button-primary-bg_hover: #6941c6;
  --button-primary-bg: #7f56d9;
  --bg-disabled: #f2f4f7;
  --fg-disabled: #98a2b3;
  --border-disabled_subtle: #e4e7ec;
  --button-secondary-border: #d0d5dd;
  --button-secondary-bg_hover: #f9fafb;
  --button-shadow-ring: #9e77ed;
  --primary-900: #101828;
  --secondary-700: #344054;
  --tertiary-600: #475467;
  --text-placeholder: #667085;
  --icon-border: #e4e7ec;
  --error-primary-600: #d92d20;
  --border-error_subtle: #fda29b;
  --border-error: #f04438;
  --brand-tertiary-600: #7f56d9;
  --icon-bottom-shadow: 0px -1px 0px 0px #1018280d inset;
  --icons-rounded-shadow: 0px 0px 0px 23px white, 0px 0px 0px 24px #eceef1, 0px 0px 0px 48px white,
    0px 0px 0px 49px #eff1f4, 0px 0px 0px 73px white, 0px 0px 0px 74px #f3f5f7, 0px 0px 0px 98px white,
    0px 0px 0px 99px #f7f8f9, 0px 0px 0px 123px white, 0px 0px 0px 124px #fbfcfc;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background-color: #555861; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
