.embla {
  max-width: 100%;
  margin: auto;
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  display: flex !important;
  touch-action: pan-y pinch-zoom;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}
.embla__controls {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.embla__dots {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  align-items: center;
}
.embla__dot {
  background-color: var(--border-secondary);
  cursor: pointer;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  &:focus {
    outline: 2px solid var(--button-shadow-ring);
    outline-offset: 2px;
  }
}
.embla__dot--selected {
  background-color: var(--brand-tertiary-600);
}
